
:root {
    --green: #204f3e;
    --red: #cd3a35;
    --yellow: #d8d669;
    --cream: #f3e8d4;
    --black: #000;
}

@font-face {
    font-family: "Fraunces";
    src: url("Fraunces_72pt-Bold.ttf") format("truetype");
}

html, body {
    height: 1200px;
    margin: 0;
    min-width: 700px;
}

html {
    background-color: var(--green);
    margin: auto;
}

body, main, footer, #coming-soon {
    min-width: 700px;
}

body {
    align-self: center;
    margin: auto;
    font-family: 'Fraunces';
}

main {
    max-width: 700px;
    align-self: center;
    margin: auto;
    height: 100%;
    background-image: linear-gradient(165deg, var(--green), var(--cream), var(--red));
}

#toasttab-button {
    justify-self: center;
    height: 1em;
    display: inline-block;
    transform: translate(22%, -500%);
    border: 2px solid seashell;
    border-radius: 5%;
    padding: 1em 0;
    margin: 2% 0;
    font-size: 1.5em;
    z-index: 6;
}    

svg {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px;
    fill: var(--red);
    z-index: 3;
}

a {
    color: white;
    text-decoration: none;
}

#time-place {
    position: relative;
    top: -200px;
    width: 15em;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    z-index: 3;
}

#time-place img {
    max-width: 100%;
    user-select: none;
}

#time-place h3 {
    position: absolute;
    color: white;
    text-shadow: 3px 3px 3px black;
    top: -4%;
    padding-left: 18%;
    font-size: 1.2em;
    text-align: center;
    margin: 18% auto;
}

#menu-splash {
    position: fixed;
    top: 10%;
    left: 49%;
    height: 80%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#menu-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 4vw;
    text-align: center;
    margin: 25% 25%;
    max-width: 25vw;
}

#location-splash {
    position: fixed;
    top: 60%;
    left: 15%;
    width: 25vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#location-splash img {
    transform: rotate(90deg);
    max-width: 100%;
}

#location-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 2.5vw;
    text-align: center;
    margin: 46% 20%;
    transform: translateX(-5%);
    max-width: 25vw;
}

#photos-splash {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 25vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#photos-splash img {
    transform: rotate(90deg);
    max-width: 100%;
}

#photos-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 4vw;
    text-align: center;
    margin: 25% 25%;
    max-width: 25vw;
}

.gutter {
    position: absolute;
    top: 0;
    z-index: -22; /* this stays */
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:50px 50px; /* Must be a square */
    background-position:0 0, 26px 0, 25px -24px, 0px 25px; /* Must be half of one side of the square */    
    width: 450px;
    max-width: 40%;
    height: 100%;
}

.gutter-left {
    left: 0;
    background-color: var(--red);
}

.gutter-right {
    right: 0;
    background-color: var(--green);
    stroke: black;
    stroke-width: 999px;
}

#toasttab-button {
    justify-self: center;
    height: 1em;
    border: 2px solid black;
    border-radius: 5%;
    color: black;
    padding: 1em 0;
    margin: 2% 0;
    font-size: 1.5em;
    white-space: nowrap;
    margin: 10px;
    padding: 15px;
}

#topbar {
    position: absolute;
    display: none;
    top: 0px; left: 0px;
    height: 20px;
    width: 100%;
    background-color: black;
}

#toplogo {
    position: relative;
    right: -150%;
    top: -150px;
    transform: rotate(-27deg);
    height: 200%;
    z-index: 30;
}

#bg-pizza {
    position: fixed;
    height: 700px;
    width: auto;
    top: -354px;
    z-index: 1;
    transform: translateX(-55%);
    overflow: clip;
    user-select: none;
}

#coming-soon {
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 40%;
    height: 27em;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    color: var(--cream)
}

#coming-soon img {
    border-color: var(--green);
    border-width: 5px;
    border-style: solid;
    position: relative;
    height: 10em;
}

#fig1 {
    transform: translateX(-80%);

}

#fig2 {
    transform: translateX(-20%) translateY(-60%);
}
#fig3 {
    transform: translateX(40%) translateY(-120%);

}
#fig4 {
    transform: translateX(90%) translateY(-190%);
}


h1 {
    font-size: 3em;
    line-height: 0.5em;
}

h2 {
    font-family: 'Fraunces';
}

h3 {
    font-family: 'Fraunces';
    font-weight: 100;
    font-size: 0.9em;
}

.social-icon {
    height: 2.5em;
    padding: 10px;
}

#bottombar {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 20px;
    width: 100%;
    color: white;
}

footer {
    position: fixed;
    background-color: black;
    width: 100%;
    max-width: 700px;
    height: 8%;
    bottom: 0%;
    z-index: 2;
}

/* @media (min-width: 300px) {
    main, body {
        min-height: 100vh;
    }
    .gutter {
        display: none;
    } */
}