
:root {
    --green: #204f3e;
    --red: #cd3a35;
    --yellow: #d8d669;
    --cream: #f3e8d4;
    --black: #000;
}

@font-face {
    font-family: "Fraunces";
    src: url(Fraunces_72pt-Bold.ttf);
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    background-color: var(--green);
    margin: auto;
}

body {
    align-self: center;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    /* font-weight: 100; */
    /* background-color: var(--cream); */
    width: 700px;
    background-image: linear-gradient(165deg, var(--green), var(--cream), var(--red));
}

svg {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 100%;
    height: 250px;
    fill: var(--red);
}

#time-place {
    position: relative;
    top: -200px;
    z-index: 3;
    width: 15em;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#time-place img {
    /* position: fixed; */
    /* top: 20%; */
    max-width: 100%;
}

#time-place h3 {
    font-family: 'Fraunces';
    position: absolute;
    color: white;
    text-shadow: 5px 5px 5px black;
    padding-left: 17%;
    font-size: 1.2em;
    text-align: center;
    margin: 18% auto;
}

#menu-splash {
    position: fixed;
    top: 10%;
    left: 49%;
    height: 80%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#menu-splash img {
    /* position: fixed; */
    /* top: 20%; */
    /* max-width: 200%; */
}

#menu-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 4vw;
    text-align: center;
    margin: 25% 25%;
    max-width: 25vw;
}

#location-splash {
    position: fixed;
    top: 60%;
    left: 15%;
    width: 25vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#location-splash img {
    transform: rotate(90deg);
    max-width: 100%;
}

#location-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 2.5vw;
    text-align: center;
    margin: 46% 20%;
    transform: translateX(-5%);
    max-width: 25vw;
    z-index: 1;
}

#photos-splash {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 25vw;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#photos-splash img {
    transform: rotate(90deg);
    max-width: 100%;
}

#photos-splash h2 {
    font-family: 'Fraunces';
    position: absolute;
    font-size: 4vw;
    text-align: center;
    margin: 25% 25%;
    max-width: 25vw;
    z-index: 1;
}

.gutter-left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 450px;
    height: 100%;
    background-color: var(--red);
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:50px 50px; /* Must be a square */
    background-position:0 0, 26px 0, 25px -24px, 0px 25px; /* Must be half of one side of the square */
}

.gutter-right {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 450px;
    height: 100%;
    background-color: var(--green);
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size:50px 50px; /* Must be a square */
    background-position:0 0, 26px 0, 25px -24px, 0px 25px; /* Must be half of one side of the square */
}

#topbar {
    position: absolute;
    display: none;
    top: 0px; left: 0px;
    height: 20px;
    width: 100%;
    background-color: black;
}

#toplogo {
    position: relative;
    right: -150%;
    top: -150px;
    transform: rotate(-27deg);
    height: 200%;
    z-index: 100;
}

#bg-pizza {
    position: fixed;
    width: 30%;
    top: -5%;
    right: 0;
    z-index: 1;
}

#coming-soon {
    display: none;
    text-align: center;
    margin-top: 15vh;
}

h1 {
    font-family: Fraunces;
    font-size: 3em;
    line-height: 0.5em;
}

h2 {
    font-family: Fraunces;
}

h3 {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 0.9em;
}

footer {
    /* display: none; */
    
    z-index: -2;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%;
}